work_dirs/
work_dir/
CFMNet_detection_results/
outputs/
logs/
*.pth
*.pth.tar
*.pt
*.log
*.zip
*.tar
__pycache__/
*.pyc
*.onnx
onnx_exports/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
/pretrained/
/data/
/datasets/
.mim/
class_train_indices.json
class_val_indices.json
